<div class = "post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink ="/" class="btn btn-link">На главную</button>
    </div>
    <div class="info">
        <strong>Автор</strong>
        <small>15.09.7555</small>
    </div>
    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae incidunt itaque quas, consequuntur illum labore, deserunt exercitationem quos atque excepturi eligendi quibusdam ad reiciendis quia officia distinctio eaque. Soluta, atque!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae incidunt itaque quas, consequuntur illum labore, deserunt exercitationem quos atque excepturi eligendi quibusdam ad reiciendis quia officia distinctio eaque. Soluta, atque!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae incidunt itaque quas, consequuntur illum labore, deserunt exercitationem quos atque excepturi eligendi quibusdam ad reiciendis quia officia distinctio eaque. Soluta, atque!</p>
    </div>
</div>
